.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  transition: height;
}

.top,
.bottom {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100vw;
  height: 0vh;
  border-width: 0;
  user-select: none;
}

.top {
  z-index: 3;
}

.bottom {
  z-index: 2;
}
